body {
	font-family: "Helvetica Neue", Arial, sans-serif; 
}

body, section {
	background-color: black;
}

h3 {
	margin: 5px 5px 10px 5px;
	text-align: left;
	font-size: 24px;
	font-weight: normal;
}

.app-icon {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 8px;
}

#SpfSelection {
	display: block;
}

#SpfSelection li {
	float: left;
	width: 50%;
	border: solid gray 1px;
	background-color: black;
	height: 110px;
}

#TimeSelection li {
	float: left;
	width: 90%;
	border: solid gray 1px;
	background-color: black;
	height: 100px;
}


#MoreSPFSelection li {
	float: left;
	width: 90%;
	border: solid gray 1px;
	background-color: black;
	height: 80px;
}

.bar {
}

.bar div {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid white;
	background-color: gray;
	border-radius: 7px;
	margin: 0 3px;
}

.bar div.active {
	background-color: black;
}

.ui-btn {
	background-color: black;
}

#remaining {
	color: lightgreen;
	margin-top: 60px;
}