<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://people.ischool.berkeley.edu/~DerekKuo/UVAlarm" version="0.1.0" viewmodes="fullscreen">
    <tizen:application id="Mgo9npdyMv.Pedometer" package="Mgo9npdyMv" required_version="2.2"/>
    <author href="http://www.linkedin.com/pub/derek-kuo/7/663/54b/" email="DerekKuo@Berkeley.edu">DerekKuo</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="detect.png" height="127" width="140"/>
    <name>UV Alarm</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:setting background-support="enable"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
